body {
  --color1: #000000ff;
  --color2: #2f1000ff;
  --color3: #621b00ff;
  --color4: #945600ff;
  --color5: #c75000ff;
}


nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color3);
  height: 100px;
}

nav h1 {
  margin: auto;
  font-size: 40px;
  color: var(--color4);
}

nav a {
  margin-left: 20px;
  color: black;
  background-color: var(--color4);
  padding: 5px 7px 5px 7px;
  border-radius: 3px;
}

#characterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#characterList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

#characterList li {
  margin: 10px;
  padding: 8px;
  border-radius: 20px;
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#characterList img {
  cursor: pointer;
  border-radius: 20px;
  max-width: 330px;
}

#characterList img:hover {
  transform: scale(1.02);
}

.affiliation {
  max-width: 380px;
}

.detailedCharacter {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid var(--color1);
  border-radius: 20px;
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
